NEXT_PUBLIC_SUPABASE_URL="<YOUR-SUPABASE-URL>"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="<YOUR-SUPABASE-PUBLISHABLE-KEY>"
CDN_HOST="<YOUR-CDN-URL-WITH-SCHEME>"
CDN_PHOTO_PERFFIX="<YOUR-PHOTOS-FOLDER-NAME>"